* {
  margin: 0;
  padding: 0;
}

.body {
  overflow-x: hidden;
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(225, 209, 221, 0.73)), url('images/welcome-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.body .socials {
  display: none;
}

@media screen and (min-width: 768px) {
  .body .socials {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background-color: rgb(41, 37, 37);
  }
}

.mobile-nav ul li {
  margin: 10%;
  font-family: 'Lato', serif;
  font-size: 28px;
  text-decoration: none;
}

.partners ul li {
  margin: 10px;
}

.body .socials li,
a {
  list-style-type: none;
  margin: 5px;
  color: white;
}

.mobile-nav {
  display: none;
}

.mobile-nav-active {
  display: flex;
  justify-content: space-between;
  animation-name: slide;
  animation-duration: 0.5s;
  background-color: rgb(194, 183, 183);
  margin: -0.5rem 0 0 40vw;
  padding: 10px 1.5rem 75vh 10px;
  box-shadow: 0 4px 12px;
  border-radius: 0 0 0 10px;
  position: absolute;
  width: 54vw;
  z-index: 2;
}

@keyframes slide {
  from {
    margin: -0.5rem 0 0 90vw;
  }

  to {
    margin: -0.5rem 0 0 40vw;
  }
}

.desktop-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgba(201, 197, 197, 0.8);
}

.mobile-nav ul {
  list-style: none;
  width: 230px;
}

.desktop-nav ul {
  display: none;
}

.mobile-nav ul li:last-child {
  border: 2px solid #ec5242;
}

a {
  text-decoration: none;
}

.mobile-nav a {
  text-decoration: none;
  color: black;
  transition: 0.5s;
}

.mobile-nav a:hover {
  color: #ec5242;
}

.desktop-nav .logo-img {
  display: none;
}

.desktop-nav .mobile-menu-icon .clear {
  display: none;
}

@media screen and (min-width: 768px) {
  .desktop-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
  }

  .desktop-nav a {
    text-decoration: none;
    color: black;
    transition: 0.5s;
  }

  .desktop-nav a:hover {
    color: #ec5242;
  }

  .desktop-nav .logo-img {
    display: block;
    margin-right: 35vw;
    margin-left: 6%;
  }

  .desktop-nav .mobile-menu-icon a {
    display: none;
  }

  .desktop-nav ul {
    list-style: none;
    display: flex;
  }

  .desktop-nav ul li {
    margin: 2px;
    font-family: 'lato', sans-serif;
    font-size: 20px;
    text-decoration: none;
  }

  .desktop-nav ul li:last-child {
    border: 2px solid #ec5242;
  }
}

.welcome-page,
h1 {
  margin: 5% 12% 8% 2%;
  padding: 10px;
  width: 80%;
}

.welcome-page > h1 {
  color: #ec5242;
  box-shadow: 0 4px 12px;
  font-family: "inter", sans-serif;
  font-size: 40px;
  background-color: rgba(3, 3, 3, 0.5);
}

.welcome-page h2 {
  font-family: "inter", sans-serif;
  width: 70%;
  margin: -1.5rem 0 10px 15px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
}

.welcome-page h3 {
  font-family: "inter", sans-serif;
  width: 70%;
  margin: 1.5rem 0 10px 15px;
  font-size: 12px;
  color: black;
}

.button {
  padding: 10px;
  margin: 5% 0 12px 18px;
  width: 30%;
  text-align: center;
  height: 30px;
  background-color: #ec5242;
  color: white;
  border-radius: 10px;
  font-weight: 550;
  font-family: "inter", sans-serif;
  font-size: 20px;
}

.courses {
  background-image: url(images/courses-background.svg);
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  justify-content: center;
  margin-top: 1px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .courses {
    background-image: url(images/courses-background.svg);
    background-color: rgba(0, 0, 0, 0.85);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0 110px 0;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .courses h2 {
    position: absolute;
    color: white;
    font-weight: 550;
    font-family: "lato", sans-serif;
    font-size: 25px;
    text-align: center;
    border: 4px solid #ec5242;
    box-shadow: 0 4px 12px;
    background-color: rgb(255, 0, 0, 0.5);
  }

  .tutors {
    display: grid;
    grid-template-columns: 20px 20px;
    justify-content: space-evenly;
    gap: 10%;
    margin-left: -8%;
    margin-bottom: 200px;
    font-weight: 500;
    font-family: "lato", sans-serif;
  }

  .tutors .professor .info {
    padding: 0 0 10% 10%;
    float: left;
  }

  .tutors .professor .info .name {
    font-weight: 550;
    font-family: "inter", sans-serif;
    font-size: 20px;
    width: 10rem;
  }

  .tutors .professor .info .school {
    color: #ec5242;
    width: 10rem;
  }
}

.courses h2 {
  color: white;
  font-weight: 550;
  font-family: "inter", sans-serif;
  font-size: 30px;
  text-align: center;
}

.courses .card {
  padding: 10px 5px 5px 5px;
  text-align: center;
  box-shadow: 0 1px 2px;
  background-color: transparent;
  color: #ec5242;
  border: 2px solid white;
  margin: 1%;
  width: 15rem;
  height: 18rem;
}

.courses .card h3 {
  margin-top: 15px;
  font-weight: 550;
  font-family: "inter", sans-serif;
  font-size: 40px;
  color: white;
}

.about-us-logo p {
  box-shadow: 0 4px 12px;
  margin: 2%;
  padding: 10px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  font-family: "inter", sans-serif;
  font-size: 20px;
}

footer .footer p {
  font-family: "lato", sans-serif;
  font-size: 10px;
  padding: 0 10% 0 5%;
}

.courses .card p {
  font-weight: 500;
  font-family: "inter", sans-serif;
  font-size: 20px;
  margin-top: 15px;
  color: #ec5242;
  background-color: rgb(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 20%;
}

.courses .card .button {
  background-color: transparent;
  border: 2px solid #ec5242;
  padding: 2%;
}

.senior-tutors {
  font-weight: 550;
  font-family: "lato", sans-serif;
  font-size: 30px;
  text-align: center;
  margin: 5%;
}

.tutors {
  font-weight: 500;
  font-family: "lato", sans-serif;
  font-size: 20px;
  width: 100%;
}

.tutors .professor {
  display: flex;
  margin: 10%;
}

.tutors .professor .info {
  padding: 0 10% 10% 10%;
  float: left;
}

.tutors .professor .info .name {
  font-weight: 550;
  font-family: "inter", sans-serif;
  font-size: 20px;
}

.tutors .professor .info .school {
  color: #ec5242;
}

.partners {
  margin-top: 10%;
  background-color: black;
  text-align: center;
}

.partners h4 {
  padding-top: 5%;
  font-weight: 550;
  color: white;
  font-family: "lato", sans-serif;
  font-size: 30px;
}

.partners hr {
  margin-bottom: 20px;
}

footer img {
  height: 80px;
}

.partners img {
  width: 70px;
}

.partners ul {
  display: flex;
  justify-content: center;
}

.welcome-about-us {
  animation-name: about;
  animation-duration: 1.5s;
  text-align: center;
  margin: 10%;
  font-weight: 550;
  color: white;
  font-family: "inter", sans-serif;
  font-size: 50px;
}

@keyframes about {
  from {
    margin: 100%;
  }

  to {
    margin: 10%;
  }
}

.information {
  animation-name: about;
  animation-duration: 1.5s;
  text-align: center;
  margin: 10%;
  margin-top: 15%;
  border-radius: 2px;
  font-weight: 550;
  color: rgb(210, 20, 20);
  font-family: "inter", sans-serif;
  font-size: 20px;
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.5);
  transition: 1.2s;
}

.information:hover {
  background-color: white;
  padding: 4px;
  color: red;
}

.contact-p {
  margin-top: -8%;
  font-weight: 500;
  color: rgb(0, 0, 0);
  font-family: "inter", sans-serif;
  font-size: 15px;
  text-align: center;
}

.about-us-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .about-us-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 12px;
    margin: 5% 20% 5% 20%;
    padding: 10px;
    border-radius: 5px;
  }
}

.about-us-logo img {
  width: 120px;
}

h6 {
  font-weight: 550;
  color: red;
  font-family: "inter", sans-serif;
  font-size: 40px;
  box-shadow: 0 2px 7px;
  background-color: rgb(255, 255, 255, 0.6);
  text-align: center;
  margin-bottom: 10px;
}

.graduates {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .graduates {
    display: flex;
    justify-content: space-around;
  }
}

.graduates .graduate-2 {
  background-image:
    linear-gradient(
      to bottom,
      rgb(229, 65, 32),
      rgba(209, 113, 24, 0.73)
    ),
    url('images/graduate-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15%;
  margin: 15px;
}

.graduates .graduate-1 {
  background-image: linear-gradient(to bottom, rgb(229, 65, 32), rgba(209, 113, 24, 0.73)), url('images/graduate-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15%;
  margin: 15px;
}

.graduate-1 h5 {
  font-family: "inter", sans-serif;
  font-size: 20px;
  text-align: center;
  color: white;
}

.graduate-2 h5 {
  font-family: "inter", sans-serif;
  font-size: 20px;
  color: white;
  text-align: center;
}

footer {
  display: flex;
  justify-content: space-evenly;
  margin: 5% 1% 2% 1%;
}

footer .footer h5 {
  margin: 0 0 0 5%;
  color: #ec5242;
  font-family: "lato", sans-serif;
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  footer {
    display: flex;
    justify-content: space-evenly;
    margin: 5% 15% 2% 15%;
  }

  footer img {
    height: 100px;
  }

  footer .footer h5 {
    margin: 0 0 0 10%;
    color: #ec5242;
    font-family: "lato", sans-serif;
    font-size: 30px;
  }

  footer .footer p {
    font-family: "lato", sans-serif;
    font-size: 10px;
    padding: 0 10% 0 10%;
  }
}
