* {
  margin: 0;
  padding: 0;
}

h1 {
  margin-bottom: 15px;
}

.book-list,
.book-list li {
  list-style-type: none;
  margin-bottom: 5px;
}

.form input {
  display: grid;
  margin: 20px 0 20px 0;
  width: 30%;
}

.book-list li:last-child {
  padding: 1px 5px 1px 5px;
}

.Add-BTN {
  padding: 1px 5px 1px 5px;
}
